<template>
  <main class="index-page__main">
    <div class="transparent-border"></div>
    <div class="main__red-block"></div>
    <div class="main__black-block"></div>

    <div class="main__quote-block">
      <div class="quote-block__text">
        <h3>{{ title }}</h3>
        <h4>{{ slogan }}</h4>
        <h5>{{ name }}</h5>
      </div>
    </div>

    <div class="main__login-block">

      <h3 class="login-header">
        Войти
      </h3>

      <input type="text" name="login" id="indexLogin" class="login-block__input" placeholder="Логин">
      <input type="password" name="pass" id="indexPassword" class="login-block__input" placeholder="Пароль">

      <div class="login-button" id="loginBtn" onclick="alert('Молодец, зашел в свой аккаунт'); return false;">
        <span class="caption">Войти</span>
        <div class="arrow red-bg">
          ➞
        </div>
      </div>

    </div>

    <div class="tablet-login-form">

      <input type="text" name="login" id="indexTabLogin" class="tablet-input" placeholder="Логин">
      <input type="password" name="pass" id="indexTabPassword" class="tablet-input" placeholder="Пароль">

      <div class="tablet-button" id="loginTabBtn" onclick="alert('Молодец, зашел в свой аккаунт'); return false;">
        <span class="caption">Войти</span>
        <div class="arrow red-bg">
          ➞
        </div>
      </div>

    </div>

    <div class="mobile-login">

      <h3>Логин</h3>
      <input type="text" name="indexMobLogin" id="loginMob">
      <h3>Пароль</h3>
      <input type="password" name="indexMobPassword" id="PassMob">

      <div class="mobile-button" id="loginMobBtn" onclick="alert('Молодец, зашел в свой аккаунт'); return false;">
        <span class="caption">Войти</span>
        <div class="arrow red-bg">
          ➞
        </div>
      </div>

    </div>

    <ul>
      <li><a href="#/register">Register link</a></li>
    </ul>
  </main>

</template>

<script src="../assets/js/index.js">
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  @import "../assets/main.css";
</style>
