<template>
  <div class="register-container">
    <header class="header-line">

    </header>

    <main>

      <aside class="main-left__sidebar">

        <a href="#">
          <div class="sidebar-logo sidebar-item">
            <img src="../assets/logo.png" alt="">
          </div>
        </a>
        <a href="#">
          <div class="sidebar-menu__item sidebar-item">
            <img src="../assets/requests.png" alt="">
            <p class="sidebar-menu__text">Заявки</p>
          </div>
        </a>

      </aside>

      <section class="main-wrapper">

        <div class="wrapper-inner col-lg-1">

          <h3 class="wrapper-inner__header">
            Персональные данные
          </h3>

          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Имя:
            </p>

            <div class="col-4">
              <input type="text" class="wrapper-inner__item-input col-10">
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Фамилия:
            </p>

            <div class="col-4">
              <input type="text" class="wrapper-inner__item-input col-10">
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              E-mail:
            </p>

            <div class="col-4">
              <input type="text" class="wrapper-inner__item-input col-10">
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Пароль:
            </p>

            <div class="col-4">
              <input type="password" class="wrapper-inner__item-input col-10">
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Подтверждение пароля:
            </p>

            <div class="col-4">
              <input type="password" class="wrapper-inner__item-input col-10">
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Номер телефона:
            </p>

            <div class="col-4">
              <input type="text" class="wrapper-inner__item-input col-10" placeholder="+7 ___ ___ __ __"
                     id="phone">
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Паспортные данные:
            </p>

            <div class="col-4 row-sb">
              <input type="text" class="wrapper-inner__item-input col-4" placeholder="Серия" maxlength="4"
                     id="seria">
              <input type="text" class="wrapper-inner__item-input col-4" placeholder="Номер" maxlength="6"
                     id="nomer">
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Пол:
            </p>

            <div class="col-4">
              <select class="wrapper-inner__item-input col-7">
                <option>Мужской</option>
                <option>Женский</option>
                <option>Предпочитаю не указывать</option>
              </select>
            </div>

          </div>
          <div class="wrapper-inner__item row">

            <p class="col-1 wrapper-inner__item-caption">
              Дата рождения:
            </p>

            <div class="col-4 row-sb">
              <p class="wrapper-inner__item-caption">
                с:
              </p>
              <input type="text" class="wrapper-inner__item-input col-3" id="data-fr" placeholder="ДД.ММ.ГГГГ">
              <p class="wrapper-inner__item-caption">
                по:
              </p>
              <input type="text" class="wrapper-inner__item-input col-3" id="data-to" placeholder="ДД.ММ.ГГГГ">
            </div>

          </div>

        </div>

      </section>

    </main>

  </div>
</template>

<script src="../assets/js/register.js">
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  @import "../assets/main.css";
</style>
