* {
  margin: 0;
  outline: none;
}

*::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

*::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

*:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

*:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

*:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

*:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

*:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

*:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 120px;
}

li {
  display: inline-block;
}

a {
  color: #42b983;
  text-decoration: none;
}

.index-page__main {
  background: url("../assets/bg.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.transparent-border {
  display: block;
  position: absolute;
  top: 120px;
  left: 25px;
  width: 80%;
  height: 65%;
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.main__red-block {
  display: block;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 100px;
  background-color: #f85c46;
  height: 25%;
  width: 20%;
}

.main__black-block {
  display: block;
  position: absolute;
  top: 30%;
  left: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  width: calc(30% + 150px);
  height: calc(330px + 5%);
}

.main__quote-block {
  display: block;
  position: absolute;
  top: 35%;
  left: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 280px;
  width: 30%;
  text-align: left;
  padding: 25px 45px;
  z-index: 2;
}

.quote-block__text {
  color: #fff;
  width: 100%;
}

.quote-block__text h3 {
  font-weight: 400;
  font-size: calc((100vw - 30rem) / (80 - 30) * (1.5 - 1) + 2rem);
}

.quote-block__text h4 {
  font-weight: 300;
  font-size: calc((100vw - 30rem) / (80 - 30) * (1.5 - 1) + 1.3rem);
  margin: 15px 0 0 0;
}

.quote-block__text h5 {
  font-family: 'Poiret One', cursive;
  font-size: calc((100vw - 30rem) / (80 - 30) * (1.5 - 1) + 1.2rem);
  text-align: right;
}

.main__login-block {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 15%;
  height: auto;
  padding: 25px 25px 50px 25px;
  z-index: 0;
  top: 15%;
  right: 14%;
}

.login-block__input {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 25px;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.login-block__input {
  margin-bottom: 30px;
}

.login-header {
  margin-bottom: 20px;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: calc((100vw - 30rem) / (80 - 30) * (1.5 - 1) + 0.4rem);
}

.login-button {
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 12px;
  color: #000;
  background-color: #fff;
  width: 120px;
  margin: 0 auto;
  cursor: pointer;
}

.login-button:active {
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
}


.caption, .arrow {
  display: inline-flex;
}

.arrow {
  width: 27px;
  padding: 0 0 0 8px;
  background-color: #f85c46;
  text-align: right;
  color: #fff;
}

body, main {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.header-line {
  width: 100%;
  height: 76px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  box-shadow: 1.5px 2.5px 7px 0px rgba(0, 0, 0, 0.15);
}

.main-left__sidebar {
  width: 93px;
  height: 100vh;
  background-color: #242c36;
  position: relative;
  z-index: 2;
  text-align: center;
}

.main-wrapper {
  background-color: #f0f3f4;
  min-height: 100%;
  width: calc(100vw - 93px);
}

.wrapper-inner {
  background-color: #fff;
  width: 980px;
  padding: 70px 70px 50px 70px;
  left: 185px;
  top: 150px;
  position: absolute;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-logo {
  height: 76px;
}

.sidebar-menu__item {
  height: 84px;
  background-color: #f85c46;
  padding-top: 10px;
}

.sidebar-menu__text {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

.wrapper-inner__header {
  font-size: 24px;
  color: #005165;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 300;
}

.wrapper-inner__item {
  line-height: 34px;
  margin-bottom: 20px;
}

.wrapper-inner__item-caption {
  color: #000;
  font-size: 13px;
  line-height: 17px;
  padding: 0 !important;
  align-items: center;
  display: inline-flex;
}

.wrapper-inner__item-input {
  border: 1px solid #dcdcdc;
  padding: 0 15px;
  font-size: 13px;
  height: 34px;
}
.tablet-login-form {
  display: none;
}
.tablet-input {
  display: inline-block;
  margin: 10px;
  padding: 0 10px;
  line-height: 25px;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  width: 17%;
}
.tablet-input::placeholder {
  color: #fff;
}
.tablet-button {
  width: 100px;
  display: inline-flex;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 10px;
  line-height: 23px;
  height: 23px;
}
.mobile-login {
  display: none;
}
.mobile-login h3 {
  padding: 15px 0;
}
.mobile-login input {
  padding: 0 10px;
  line-height: 20px;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
}
.mobile-login input[type="password"] {
  margin-bottom: 25px;
}
.mobile-button {
  border: 1px solid rgba(0,0,0,0.3);
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 12px;
  color: #000;
  background-color: #fff;
  width: 120px;
  margin: 0 auto;
  cursor: pointer;
}

.mobile-button:active {
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
}
/*================================================================================================================== GOVNOKOD STARTED / CHANGE IT LATER ==================================================================================================================*/

.row {
  display: inline-flex;
  width: 100%;
  text-align: left;
}

.row-sb {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.col-1 {
  width: 10%;
  display: inline-flex;
  padding: 0 10px;
}

.col-2 {
  width: 20%;
  display: inline-flex;
  padding: 0 10px;
}

.col-3 {
  width: 30%;
  display: inline-flex;
  padding: 0 10px;
}

.col-4 {
  width: 40%;
  display: inline-flex;
  padding: 0 10px;
}

.col-5 {
  width: 50%;
  display: inline-flex;
  padding: 0 10px;
}

.col-6 {
  width: 60%;
  display: inline-flex;
  padding: 0 10px;
}

.col-7 {
  width: 70%;
  display: inline-flex;
  padding: 0 10px;
}

.col-8 {
  width: 80%;
  display: inline-flex;
  padding: 0 10px;
}

.col-9 {
  width: 90%;
  display: inline-flex;
  padding: 0 10px;
}

.col-10 {
  width: 100%;
  display: inline-flex;
  padding: 0 10px;
}

/*================================================================================================================== GOVNOKOD ENDED ================================================================================================================== */

@media screen and (min-width:480px) and (max-width:800px){
  .main__login-block, .main__black-block, .transparent-border {
    display: none;
  }
  .main__red-block {
    display: block;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 10px;
    background-color: #f85c46;
    height: 25%;
    width: 50%;
  }
  .main__quote-block {
    display: block;
    position: absolute;
    top: 38%;
    left: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 180px;
    width: 60%;
    text-align: left;
    padding: 25px 45px;
    z-index: 2;
  }
  .tablet-login-form {
    display: flex;
    height: 50px;
    line-height: 23px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width:479px) {
  .main__login-block, .main__black-block, .transparent-border {
    display: none;
  }
  .main__red-block {
    top: 20%;
    left: 0;
    height: 25%;
    width: 50%;
  }
  .main__quote-block {
    display: block;
    position: absolute;
    top: 30%;
    left: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 180px;
     width: auto;
    text-align: left;
    padding: 25px;
    z-index: 2;
  }
  .mobile-login {
    padding-top: 35px;
    display: block;
    position: absolute;
    width: 100%;
    height: calc(70% - 265px);
    background-color: #fff;
    top: calc( 30% + 230px);
  }
}
