<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  import Icon from 'vue-awesome/components/Icon';

  export default {
    name: 'app',
    components: {
      Icon,
    },
};
</script>

<style>
  @import "/assets/main.css";
</style>
